* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    color: mediumvioletred;
}

.description {
    text-align: center;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 50px;
}

footer {
    margin-left: 12%;
    margin-right: 12%;
}

.marco {
    background-color: black;
    height: 70px;
    width: 250px;
    overflow: hidden;
    
}

.marco img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    float: left;
}

.testo {
    color: white;
    margin-left: 10px;
    margin-top: 8px;
    float: left;
}

.email {
    color: lightskyblue;
}